<%- layout('layout') %>
<div>
    <h3><%- title %></h3>
    <div class="row">
        <form method="post" action="/activities/create"  class="col-xs-6">
            <div class="form-group">
                <input name="Description" placeholder="Description" class="form-control">
            </div>
            <input type="submit" value="Add" class="btn btn-success">
            <a href="/activities/index" class="btn btn-danger">Cancel</a>
        </form>
    </div>
</div>