<!doctype html>
<html>
    <head>
        <title><%- title %></title>
        <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container"><%- body %></div>
    </body>
</html>